

POSTGRES_URI=postgresql://postgres:dev_password_123@localhost:5432/userapi


PORT=5000
NODE_ENV = "development"
CORS_ORIGIN="*"


JWT_ACCESS_SECRET="access-secret"
JWT_ACCESS_EXPIRES="1d"
JWT_REFRESH_SECRET="refresh-secret"
JWT_REFRESH_EXPIRES="15d"
